# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional dependency directories
.pnpm/
.vite/

# Build output
dist/
build/

# Vite cache
.vite/

# Local environment files
.env*
!.env.example

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# OS and IDE specific
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace